/* Custom Preflight for Uni-app to avoid hr tag selector issue */
*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

page {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
